*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("img.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    list-style: none;
    padding: 0;
    background: #FDB601;
    width: 90%;
    max-width: 886px;
    margin: auto ;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.primero{
    background-color: #24303c ;
}
.ultimo{
    background-color: #24303c;
}
.form-register{
    width: 400px;
    background-color: #24303c;
    padding:30px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 100px;
    margin-left: 1000px;
    margin-bottom: 50px;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    color : #FDB601;
}
.form-register p{
    margin-bottom: 10px;
    font-size: 80%;
    opacity: 80%;
    text-align: center;
}
.controls{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-register .botons{
    width: 100%;
    background: #FDB601 ;
    border:none;
    padding: 10px
}
.presentacion{
    margin-left: 100px;
    margin-top: 385px;
}